.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

table {
  margin: auto;
}
td, th {
  border:1px solid black;
  border-collapse: collapse;
  border-radius: 10px;
  padding: 5px;
  /* margin: 0; */
}

th{
  background-color: #6e5f59;
  color: white;
}

tr:hover {
  background-color: #269ed1;
  color: white;
}

button {
  background-color: #6e5f59;
  color: white;
  border-radius: 10px;
  font-family: 'Lilita One', cursive;
  padding: 10px;
  margin: 10px;
}

img {
  width: 90%; 
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: auto;
  text-align: left;
  
}